@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #152328;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f0eae6;
    --background: #152328;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Century Gothic";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
